[Unit]
Description=frontend service

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/html/frontend
ExecStart=/usr/bin/npm start --no-warnings
Restart=on-failure
SyslogIdentifier=frontend
ProtectSystem=full
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
